:root {
    --cardClose: #341414;
    --cardOpen: #ffffff;
    --cardOpenBorder: #000000;
    --cardCloseBorder: #ffffff;
}

.board {
    width: 80vw;
    /* height: 80vh; */
    background-color: rgb(37, 184, 49);
    border-radius: 10px;
    margin-top: 10px;
    padding: 50px;
    /* box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); */
    -webkit-box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .board {
        width: 90vw;
        margin-top: 50px;
        padding: 10px;
        /* height: 80vh; */
    }
}

@media (max-width: 414px) {
    .board {
        width: 90vw;
        margin-top: 50px;
        padding: 10px;
        /* height: 80vw; */
    }
}

.jockerAndAllCardsView {
    display: flex;
    /* background-color: bisque; */
    width: 50%;
    justify-content: center;
}

.jockerView {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 250px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 0px 0px 0px 5px;
}

.allCardsView {
    /* cursor: pointer; */
    position: absolute;
    margin-top: 100px;
    width: 250px;
    height: 150px;
    background-color: var(--cardClose);
    border-radius: 10px;
    border: 1px solid var(--cardCloseBorder);
    box-shadow: 0px -05px 0px 0px var(--cardClose),
        0px -06px 0px 0px var(--cardCloseBorder),
        0px -10px 0px 0px var(--cardClose),
        0px -11px 0px 0px var(--cardCloseBorder),
        0px -15px 0px 0px var(--cardClose),
        0px -16px 0px 0px var(--cardCloseBorder),
        0px -20px 0px 0px var(--cardClose),
        0px -21px 0px 0px var(--cardCloseBorder),
        0px -25px 0px 0px var(--cardClose),
        0px -26px 0px 0px var(--cardCloseBorder),
        0px -30px 0px 0px var(--cardClose),
        0px -31px 0px 0px var(--cardCloseBorder),
        0px -35px 0px 0px var(--cardClose),
        0px -36px 0px 0px var(--cardCloseBorder),
        0px -40px 0px 0px var(--cardClose),
        0px -41px 0px 0px var(--cardCloseBorder),
        0px -45px 0px 0px var(--cardClose),
        0px -46px 0px 0px var(--cardCloseBorder);
}

.cardDesign {
    word-wrap: break-word;
    color: #ffffff;
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin: 0 5px 0 5px;
}

.test {}