.card {
    border: 2px solid gray;
    border-radius: 15px;
    /* height: 150px;
    width: 100px; */
    height: 80px;
    width: 50px;
    background-color: rgb(255, 216, 177);
    /* padding: 5px; */
    margin: 2px;
}

.cardSetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playerAContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: rgb(180, 230, 230);
    border-radius: 15px;
    padding: 15px;
}

.playerBContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: rgb(228, 198, 146);
    border-radius: 15px;
    padding: 15px;
}