.openCardsContainerView {
    display: flex;
    /* flex-direction: column; */

}

.openCardsContainer {
    /* background-color: rgb(84, 79, 100); */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    border: 5px solid rgb(205, 205, 205);
    border-radius: 15px;
    width: 239px;
    height: 150px;
    margin-top: 60px;
}

.openCardsContainerHiddenView {
    display: flex;
    border: 5px solid rgb(205, 205, 205);
    border-radius: 15px;
    padding: 15px;
    width: 239px;
    height: 150px;
    margin-top: 60px;
}

.openDeckView {
    position: absolute;
    top: 80px;
    background-color: rgb(205, 205, 205);
    line-height: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-inline: 15px;
}

@media (max-width: 768px) {
    .openCardsContainer {
        border: none;
        padding: 0px;
    }

    .openDeckView {
        position: absolute;
        top: 50px;
        background-color: transparent;
        border: none;
        padding-inline: 0px;
        line-height: 0px;
    }
}
@media (max-width: 414px) {
    .openCardsContainer {
        border: none;
        padding: 0px;
    }

    .openDeckView {
        position: absolute;
        top: 50px;
        background-color: transparent;
        border: none;
        padding-inline: 0px;
        line-height: 0px;
    }
}

/* @media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  } */