.openCardsContainerView {
    display: flex;
    /* flex-direction: column; */
    
}

.openCardsContainer {
    /* background-color: rgb(84, 79, 100); */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    border: 5px solid rgb(205, 205, 205);
    border-radius: 15px;
    width: 239px;
    height: 150px;
    margin-top: 60px;
}

.openCardsContainerHiddenView {
    display: flex;
    border: 5px solid rgb(205, 205, 205);
    border-radius: 15px;
    padding: 15px;
    width: 239px;
    height: 150px;
    margin-top: 60px;
}

.openDeckView {
    position: absolute;
    top: 80px;
    background-color: rgb(205, 205, 205);
    line-height: 5px;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-inline: 15px;
}