:root {
    --cardClose: #341414;
    --cardOpen: #ffffff;
    --cardOpenBorder: #000000;
    --cardCloseBorder: #ffffff;
}

.board {
    width: 80vw;
    /* height: 80vh; */
    min-height: 50vh;
    background-color: rgb(37, 184, 49);
    border-radius: 100px;
    margin-top: 10px;
    padding: 50px;
    /* box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); */
    -webkit-box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 150px -50px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .board {
        width: 90vw;
        margin-top: 50px;
        padding: 10px;
        /* height: 80vh; */
    }
}

@media (max-width: 414px) {
    .board {
        width: 90vw;
        margin-top: 50px;
        padding: 10px;
        /* height: 80vw; */
    }
}