.card {
    border: 2px solid gray;
    border-radius: 15px;
    height: 80px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    /* height: 150px;
    width: 100px; */
    /* padding: 5px; */
}

.discardButton {
    border: 2px solid gray;
    border-radius: 15px;
    /* height: 150px;
    width: 100px; */
    height: 30px;
    width: 50px;
    background-color: rgb(255, 216, 177);
    /* padding: 5px; */
    margin: 2px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.discardButtonHiddenView {
    height: 30px;
    width: 50px;
    margin: 2px;
}

.playerCardContainer {
    display: flex;
    flex-direction: column;
}

.cardSetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 25px; */
}

.pickFromAllCardsButton {
    border: 2px solid red;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    /* margin: 2px; */
    cursor: pointer;
    padding: 0;
}



.jockerContainer {
    /* display: flex; */
    width: fit-content;
    background-color: rgb(52, 55, 231);
    border-radius: 15px;
    padding: 15px;
    border: 2px solid gray;
    margin-right: 10px;
}



.playerAContainer {
    display: flex;
    flex-direction: row;
    /* margin-top: 50px; */
    /* background-color: rgb(180, 230, 230); */
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
}

.playerBContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    /* background-color: rgb(228, 198, 146); */
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: #34346d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin: 4px 2px;
}

.button:hover {
    background-color: #34346d;
    color: white;
}


.buttonsContainer {
    display: flex;
    /* background-color: rgb(88, 83, 83); */
    border-radius: 15px;
    padding: 15px;
    /* align-self: center; */
    flex-direction: column;
    justify-content: center;
}

.viewTitle {
    /* color:rgb(18, 6, 251); */
    text-align: center;
    font-size: 50px;
}

.inputSelected {
    position: absolute;
    cursor: pointer;
    height: 80px;
    width: 50px;
    margin: 2px;
}

.container {
    display: block;
    position: absolute;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 25px;
    width: 25px; */
    background-color: transparent;

    border: 2px solid transparent;
    border-radius: 15px;
    height: 80px;
    width: 50px;
    /* margin: 2px; */
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgba(255, 255, 255, 0.427);
    /* border: 2px solid black; */
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #554f4f80;
}

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
} */

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
/* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */

.middleSpace {
    width: 40px;
}